<!DOCTYPE html>
<html>
<head>
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loading.css') }}"/>#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<script>
    function resizenow() {
        var browserwidth = jQuery(window).width();
        var browserheight = jQuery(window).height();
        jQuery('.bonfire-pageloader-icon').css('right', ((browserwidth - jQuery(".bonfire-pageloader-icon").width()) / 2)).css('top', ((browserheight - jQuery(".bonfire-pageloader-icon").height()) / 2));
    };
    resizenow();


    jQuery(window).resize(function () {
        resizenow();
    });

    function resizenow() {
        var browserwidth = jQuery(window).width();
        var browserheight = jQuery(window).height();
        jQuery('.bonfire-pageloader-icon').css('right', ((browserwidth - jQuery(".bonfire-pageloader-icon").width()) / 2)).css('top', ((browserheight - jQuery(".bonfire-pageloader-icon").height()) / 2));
    };
    resizenow();

    jQuery("html").addClass('bonfire-html-onload');

    jQuery(document.body).on("touchmove", function (e) {
        e.preventDefault();
    });


    var scrollPosition = [
        self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
        self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
    ];
    var html = jQuery('html');
    html.data('scroll-position', scrollPosition);
    html.data('previous-overflow', html.css('overflow'));
    html.css('overflow', 'hidden');
    window.scrollTo(scrollPosition[0], scrollPosition[1]);
</script>
<body>
<div class="center">
    <div class="msg">
        <!--- Spinning Loading GIF Goes here --->
        <!---<img src="/static/images/activity.gif" alt="Please Wait...">--->
        <div id="bonfire-pageloader">
            <div class="bonfire-pageloader-icon">
                <h1>Loading...</h1>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    window.location.replace('/result?data={{my_data}}');
</script>
</html>